.popupContainer{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50,-50%);
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(18,18,18,.5);//#121212;
   
    &__box{
        width: 57.5rem;//920px
        height: 13.125rem;//210px +12
        background-color: white;
        padding-top:3.5rem; //56px
        position: relative;
        &__content{
            height: 6.125rem + 0.75rem; //98px +12 px
            width: 100%;
            padding-left: 5.93rem; //95px;          
        }
    }
}