.d-flex-row{
    display: flex;
    flex-direction: row;
    gap: 5.93em; //95px
    align-items: center;
    justify-content: center;
    
}
.d-flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (max-width: 900px){
   .d-flex-row{
        gap: 5rem;
    }
}
@media screen and (max-width: 800px){
    .d-flex-row{
         gap: 4.5rem;
     }
 }
 
 @media screen and (max-width: 783px) and (orientation: landscape){
    .d-flex-row{
        gap: 3rem;
    }
 }
 
 
