.container{
    margin: 5.93rem auto 0 auto;
    max-width: 90rem; //1440px
}

.mainSection{
    height: 20.62rem; //330px
    width: 61.25rem; //980px
    margin: 0 auto;

    &__picture{
        &__img{
            width: 31.56rem; //505px
            height: 20.62rem; //330px
        }
    }
    &__text{
        width: 23.75rem;//380px
        height: 15.62rem; //250px
    }
}
